#mainNav{
    background-color: #063859;
}

.navbar-brand
{
    position: absolute;
    width: auto;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

.project-information{
    margin-top: 50px;
}


.parallax-img{
    background-color: #111111 !important;

    background: url(./img/bg.png);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    height:1000px;
}

.navbar-nav li{
    padding: 0 10px;
}

.navbar-nav li a{
    color:#fff !important;
    font-weight: 600;
}