html{
 scroll-behavior: smooth;
}
body{
    background-color: #111111;
    font-family: sans-serif;
}
#mainNav{
    background-color: #063859;
    padding: 0px !important;
}

.navbar-brand
{
    position: absolute;
    flex: auto;
    width: auto;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

.project-information{
    padding-top: 80px;
}

.center-item{
    position: relative;
    flex: auto;
    width: auto;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}
.fullscreen-button{
    background-color: #063859;
    color: #fff;
    border: 4px solid #063859;
    border-radius: 10px;
}

.parallax-img{
    background-color: #111111 !important;

    background: url(./img/bg.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
}

.navbar-nav li{
    padding: 0 10px;
}

.navbar-nav li a{
    color:#fff !important;
    font-weight: 600;
}

.text{
    color:#fff !important;
    font-weight: normal !important;
}
hr{
    color:#063859 !important;
    border: solid 2px;
    opacity: 1;
}

.iframe-container{
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 40%;
}

.responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100% !important;
    height: 100% !important;
  }

#aulas{
    background-color: #111111;
}



.tecnus-classes h3{
    display:inline-block;
    position: relative;
    text-decoration: none;
}


.styled-hr:after{
    content: '' !important;
    display: block !important;
    border-top: 4px solid #063859 !important;
    margin-top: 2px !important;
}

/* Scroolbar*/
::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #063859; 
    border-radius: 10px;
}
::-webkit-scrollbar {
    width: 10px; 
 }
::-webkit-scrollbar-thumb:hover {
    background: #0638C0;    
}

/* Links*/
.links-tecnus{
    font-size: 25px;
    font-weight:bold;
}

.links-tecnus:link {
    color: #075D96;
    text-decoration: none !important;
  }
  
.links-tecnus:visited {
    color: #075D96 !important;
    text-decoration: none !important;
  }
  
.links-tecnus:hover {
    color: #063895 !important;
    text-decoration: none !important;

  }
  
.links-tecnus:active {
    color: #0638C0 !important;
    text-decoration: none !important;

  }

/* Carousel CSS*/
.carousel {
  background: #111111;
}
.carousel-cell {
  width: 20%;
  height: 200px;
  margin-right: 10px;
  background: #8C8;
  border-radius: 5px;
  counter-increment: gallery-cell;
}

.carousel-cell:before {
  display: block;
  text-align: center;
  content: counter(gallery-cell);
  line-height: 200px;
  font-size: 80px;
  color: white;
}
  
.flickity-prev-next-button {
    width: 30px;
    height: 30px;
    border-radius: 5px;
}

.flickity-prev-next-button.previous {
    left: -200px;
}
.flickity-prev-next-button.next {
    right: -200px;
}

/* Footer */
.tecnus-footer{
    margin-top: 50px;
}
